* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Pacifico', cursive;
    background: linear-gradient(135deg, #ffd6e8, #ffe6f2);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  h1 {
    color: #ff2e63;
    font-size: 1rem;
    margin-bottom: 30px;
    z-index: 2;
    
  }
  p {
    margin: -25px;
    color: #ff2e63;
    font-size: 1,7rem;
    margin-bottom: 30px;
    z-index: 2;
    font-style: oblique;
  }

  .btn {
    padding: 12px 25px;
    margin: 25px;
    border: none;
    border-radius: 25px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 2;
  }

  .yes {
    background-color: #ff2e63;
    color: white;
  }

  .no {
    background-color: #ffc2d1;
    color: white;
    position: absolute;
  }

  .popup {
    font-size: 1.5rem;
    color: #c70039;
    margin-top: 30px;
    display: none;
    z-index: 2;
  }

  .hearts {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
  }

  .heart {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url('https://cdn-icons-png.flaticon.com/512/833/833472.png') no-repeat center;
    background-size: contain;
    animation: float 6s linear infinite;
    opacity: 0.7;
  }

  @keyframes float {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    100% {
      transform: translateY(-100vh) rotate(360deg);
    }
  }